{{#each userRecipe as |userData| }}
    <div id="card1" class ="delete-recipes">

        <div class="card">
            <div class="card-image">
                <a href="/api/recipes/{{userData.id}}">
                <img src="/images/chad-montano-food .jpg"></a>
                <span class="card-title"> {{userData.title}} </span>
                <a class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">favorite_border</i></a>
            </div>

            <div class="card-content1">
                <div class="input-field">
                    <p id="recipe3">
                        <label for="recipe3"> Recipe Name: </label>
                        <span id="test"> &nbsp; {{userData.title}} </span>
                    </p>
                </div>

                <div class="input-field">
                    <p id="cookTime3" type="text">
                        <label for="cookTime3"> Prep/Cook Time: </label>
                        <span id="test2">&nbsp;{{userData.cook_time}}</span>
                    </p>
                </div>

                <div class="input-field">
                    <p id="recipe2">
                        <label for="recipe2"> Course: </label>
                        <span id="test"> &nbsp; {{userData.course}} </span>
                    </p>
                </div>

                <div class="input-field">
                    <p id="cookTime2" type="text">
                        <label for="cookTime2"> Serving Size: </label>
                        <span id="test2">&nbsp; {{userData.serving_size}} </span>
                    </p>
                </div>

                <div >
                    <p id="in" type="text">
                        <label for="in"> Ingredients: </label>
                        <span id="test2">&nbsp; </span>
                    </p>
                </div>
                        
            {{#each userData.ingredients as |ingredients| }}
                <div class="input-field">
                    <p id="test2">&nbsp; * {{ingredients.ingredients}}  </p>  
                </div>              
            {{/each}}

                <div class="input-field">
                    <p id="cookTime2" type="text"></p>
                </div>

                 <div >
                    <p id="in" type="text">
                        <label for="in"> Instructions: </label>
                        <span id="test2">&nbsp; </span>
                    </p>
                </div>
                
                <div class="input-field">
                    <p id="chef3" type="text">
                        <label for="chef3"></label>
                        <span id="test4"> &nbsp; {{userData.instructions}} </span>
                    </p>
                </div>

                <div >
                    <button class="btn btn-sm btn-danger" data-id="{{userData.id}}">Delete</button>
                </div>

            </div>
        </div>
    </div>
{{/each}}